/* latin */
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: local('OFL Sorts Mill Goudy TT'), local('OFLGoudyStMTT'), url(https://fonts.gstatic.com/s/oflsortsmillgoudytt/v7/9ZZVVBRCceNnPBXqWLH8INkIcbLS05v5WDAp659laTQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: italic;
  font-weight: 400;
  src: local('OFL Sorts Mill Goudy TT Italic'), local('OFLGoudyStMTT-Italic'), url(https://fonts.gstatic.com/s/oflsortsmillgoudytt/v7/4zlbkWdiblhTyAxV3yYOK1Map0k-03pf3IKr-TpLv19bV0WvE1cEyAoIq5yYZlSc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    color: #222222;
    font-size: 1em;
    line-height: 25px;
    margin: 0px auto 0px auto;
    width: 80%;
    max-width:800px;
    font-family: 'Palatino';
    text-rendering: 'optimizeLegibility';
}

a {
    color: #14A8CC;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

div#header {
    border-bottom: 2px solid #14A8CC;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 2em;
	font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
div#logo a:hover{
    color: #14A8CC;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: thin;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
div#header #navigation a:hover{
    color: #14A8CC;
}

div#footer {
    border-top: solid 2px #14A8CC;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
	font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
}

h2 {
	font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

code, kdb, pre, samp {
    font-family: monospace;
    font-size: 1em;
}
